body {font-family:monospace;
    background-color: pink;
    font-size: 15px;
    color: navy;
    background-image: url("hello.jpg");





}

h1{border-style: dashed;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: grey;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
